<html>
    <div class="table">
        <table>
            <tr>
                <th>Interferometer ID</th>
                <th>Current Elevation</th>
                <th>Target Elevation</th>
                <th>Current Azimuth</th>
                <th>Target Azimuth</th>
            </tr>
{% for ctrl in controllers %}
            <td>{{ ctrl.interferometer_id }}</td>
            <td>{{ ctrl.elevation }}</td>
            <td>{{ ctrl.target_elevation }}</td>
            <td>{{ ctrl.azimuth }}</td>
            <td>{{ ctrl.target_azimuth }}</td>
{% endfor %}
        </table>
    </div>
</html>
