<html>
    <div class="table">
        <table border="1">
            <tr>
                <th>Interferometer ID</th>
                <th>Current Elevation</th>
                <th>Target Elevation</th>
                <th>Current Azimuth</th>
                <th>Target Azimuth</th>
            </tr>
{% for ctrl in controllers %}
            <tr>
                <td><a href="{{ url_for('ctrl.ctrl', interferometer_id=ctrl.interferometer_id) }}">{{ ctrl.interferometer_id }}</a></td>
                <td>{{ ctrl.elevation }}</td>
                <td>{{ ctrl.target_elevation }}</td>
                <td>{{ ctrl.azimuth }}</td>
                <td>{{ ctrl.target_azimuth }}</td>
            </tr>
{% endfor %}
        </table>
    </div>
</html>
